    <style>
            .paragraph{
                margin-right: 0px;
                display: block;
                text-align: right;
                padding-bottom: 0px;
            }
            .menu{
            width: 600px;
            float:left;
            height: 250px;
            

            }

            ul{
                float:left;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            ul li{
                list-style: none;
                margin-left: 70px;
                margin-top: 0px;
                font-size: 15px;
                align-items: center;
            }
            ul li a{
                text-decoration: none;
                color:rgb(254, 254, 254);
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                align-items: center;
            }

            ul li a:hover{
            color: rgb(67, 246, 228);
            }

            .btn:focus{ 
            outline: none;
            cursor: pointer;
            position: fixed;
            }

            .main {
                width: 100%;
                background-color: rgba(17, 34, 146, 0.9);
                background-position: center;
                background-size: cover;
                height: 80px;
               
    
            }

           
            .operation{
                background-color: rgb(2, 2, 117);
                color: #fff;
                font-size: large;
                text-align: center;
                width: 500px;
                margin-left: 400px;
                
            }

            .middle{
                position:absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%,-50%);
            }

            .navigation{
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform:translateX(-50%);
                display: flex;


            }

            .bar{
            width: 50px;
            height: 10px;
            border: 2px solid #fff;
            margin: 6px;
            cursor: pointer;
            transition: 0.4s;

            }
            .bar:hover{
                background: #fff;

            }

            .slide{
                width: 80%;
                length:90%;
                margin-left: 10%;
                display: block;
                
                

            }

            .slide img{
            width: 100%;
            height: 100%;

            }
            .logo img{
            position: fixed;
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            margin-top: 10px;
            margin-left: 20px;
            }
            .search-bar{
            width: 150px;
            font-size: 16px;
            font-weight: bold;
            padding-left: 25px;
            margin-left: 450px;
            }
            .website-name{
                font-family: arial;
                font-weight: bold;
                margin-top: 0px;
                margin-left: 0px;
                display: inline-block;
                padding-left: 0%;
                width: 80%;
  
            }
            .paragraph{
                margin-left: 0px;
                margin-top: 0px;
            }
            .footer-end{
                text-align: center;
                background-color: black;
                color: #fff;
                size: 30px;
                font-weight: 300px;
                margin-bottom: 0%;
            }
            .footer{
                background-color: black;
                text-align: center;
                color: white;
                font-size: xx-large;
                margin-bottom: 0%;
                opacity: 1;
            }
            .mail{
                background-color: rgb(8, 8, 195);
                color: rgb(240, 240, 240);
                cursor: pointer;
                display: inline block;
                border: 0px;
                border-style: solid;
                article {
                    max-width: 600px;
                    margin: 0 auto;
                aside{
                    background-color: #f0f0f0;
                    padding: 10px;
                    border: 1px solid #ddd;
                    float: right; 
                    width: 30%; 
                }
               
               
            }
            .contact{
                display: inline-block;
                background-color: rgb(8, 8, 195);
                color: #fff;
                cursor: pointer;
                border: 0px;
                border-style: solid;
            }
            .location{
                display: inline-block;
                background-color: rgb(8, 8, 195);
                color: #fff;
                cursor: pointer;
                border: 0px;
                border-style: solid;
            }
            .mail:hover{
                background-color: rgb(234, 121, 7);
            }
            .contact:hover{
                background-color:  rgb(234, 121, 7);
            }
            .location:hover{
                background-color: rgb(234, 121, 7);
            }

     </style>